/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-icons/iconfont/material-icons.css';

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
}
